<strong>Olá, {{ student }}!</strong>
<p>Seja muito bem-vindo!</p>
<p>A sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor total: </strong> {{ price }} <br />

  <p>Baixe o nosso aplicativo em seu celular para fazer checkin e começar o seu treino!</p>
  <p>Qualquer dúvida que surgir utilize a opção "Pedir Auxílio" em nosso aplicativo.</p>
</p>
